#main {
  margin: auto;
  padding: 0px 5% 15px 5%;
}

.message-error {
  color: #F44336;
}

#loginModal {
  h1 {
    text-align: center;
  }
  button {
      text-align: center;
  }
}

md-dialog {
  padding: 10px;
}
