#main, #unauthorized {
  margin: auto;
  padding: 0px 5% 15px 5%;
}

.message-error {
  color: #F44336;
}

#loginModal {
  h1 {
    margin-top: 5px;
    text-align: center;
  }
}

.modalButtons {
  .md-button {
    width: 100%;
  }
}

md-dialog {
  padding: 15px 20px 15px 20px;
}

recipepreview {
  width: 100%;
  height: 100%;
  padding: 0px 16px 16px 16px;

  .md-whiteframe-z1 {
      cursor:pointer;
  }

  .recipeTitle {
    margin-top: 0px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: black;
    opacity: 0.75;
  }

  .recipeDescription {
    padding-right: 5px;
    margin: 5px 5px 5px 0px;

    .fa-clock-o {
      padding-right: 5px;
    }

    .rating {
      padding-left: 5px;
    }

    .recipeTime {
      float: right;
      padding-right: 5px;
    }
  }

  .recipeImage {
    height: 200px;
  }

  p {
    margin: 0px;
  }

  div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.favorited {
  color: red;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity: 1
}

.sidebar {
  padding: 15px;
}

#recipeStream {
  md-card {
    text-align: center;
  }

  #stream-like {
    background-color: lighten(green, 25%);
  }

  #stream-dislike {
    background-color: lighten(red, 20%);
  }

}

<<<<<<< HEAD
.searchbar {
  margin: 10px 40px 20px;
  padding: 20px;

  md-input-container {
    padding-bottom: 0;
  }
=======
.hero-image {
  margin-top: -16px;
  margin-left: -10%;
  margin-right: -10%;

  width: 115.5%;
  height: 96vh;
  background-image: url("../img/laptop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  p {
    position: absolute;
    font-size: 4em;
    left: 20%;
    right: 20%;
    top: 30%;
    text-align: center;

    background-color: black;
    color: white;

    border-radius: 25px;

    opacity: 0.9;
  }

  .dl-buttons {
    text-align: center;
    width: 40%;
    left: 30%;
    right: 30%;
    position: absolute;
    bottom: 5%;
  }
}

.multiplatform {
  text-align: center;
>>>>>>> parent of 811351b... Revert "Home page."
}
