<div ng-show="recoverTokenValid">
  <h1>Please enter your new password.</h1>
  <ng-messages class="message-error" for="recoverForm.general">
    <ng-message when="issue">
      Oops, we ran into an issue resetting your password; please try again!
    </ng-message>
  </ng-messages>
  <form ng-submit="changePassword()">
    <md-content layout-padding layout="column">
      <md-input-container flex>
        <label>New Password</label>
        <input ng-disabled="recoverSubmitting" ng-model="account.password" type="password">
        <ng-messages class="message-error" for="recoverForm.password">
          <ng-message when="required">
            A new password is required.
          </ng-message>
        </ng-messages>
      </md-input-container>
      <md-input-container flex>
        <label>Confirm New Password</label>
        <input ng-disabled="recoverSubmitting" ng-model="account.confirm" type="password">
        <ng-messages class="message-error" for="recoverForm.confirm">
          <ng-message when="mismatch">
            The new passwords must match.
          </ng-message>
        </ng-messages>
      </md-input-container>
    </md-content>
    <md-button ng-disabled="recoverSubmitting" class="md-raised md-primary" type="submit">Change Password</md-button>
  </form>
</div>
<div ng-show="!recoverTokenValid">
  <h1>Oops!</h1>
  <p>We are having some trouble recovering your account; please try again.</p>
  <md-button ui-sref="recover">Recover your account</md-button>
</div>
