<div ng-show="!recoverFormSuccess">
  <h1>Forgot your password, huh?</h1>
  <ng-messages class="message-error" for="recoverForm.general">
    <ng-message when="issue">
      Oops, we ran into an issue; please try again!
    </ng-message>
  </ng-messages>
  <form ng-submit="sendRecoveryToken()" name="recoverForm">
    <md-content layout-padding layout="column">
      <md-input-container flex>
        <label>Email Address</label>
        <input ng-disabled="recoverSubmitting" ng-model="account.email" type="email">
        <ng-messages class="message-error" for="recoverForm.email">
          <ng-message when="required">
            You must provide us with an email address in order to recover your account.
          </ng-message>
          <ng-message when="invalid">
            We found no accounts under that email address.
          </ng-message>
        </ng-messages>
      </md-input-container>
    </md-content>
    <md-button ng-disabled="recoverSubmitting" class="md-raised md-primary" type="submit">Recover</md-button>
  </form>
  <md-button ui-sref="register">Need an account?</md-button>
</div>
<div ng-show="recoverFormSuccess">
  <h1>Recovery email sent!</h1>
  <p>Check your inbox; we have sent you information regarding how to recover your account.</p>
</div>
