<div class="hero-image">
  <p>We'll help you figure out what to make for dinner</p>

  <div class="dl-buttons" layout="row" layout-align="center center">
    <div flex=50>
      <img src="../img/appstore.png">
    </div>
    <div flex=50>
      <img src="../img/playstore.png">
    </div>
  </div>
</div>

<h1 style="text-align: center;">Multi Platform</h1>
<div layout="row" class="multiplatform">
  <div flex=50>
    <h4>iOS</h4>
    <img src="../img/phone2.jpg">
  </div>
  <div flex=50>
    <h3>Android</h3>
    <img src="../img/phone.jpg">
  </div>
</div>
