<div class="hero-image">
  <p>We'll help you figure out what to make for dinner</p>

  <div class="dl-buttons" layout="row" layout-align="center center">
    <div flex=50>
      <img src="../img/appstore.png">
    </div>
    <div flex=50>
      <img src="../img/playstore.png">
    </div>
  </div>
</div>

<h1>Multi Platform</h1>
<div layout="row" class="multiplatform">
  <div flex=50>
    <h4>iOS</h4>
  </div>
  <div flex=50>
    <h3>Android</h3>
  </div>
</div>

<div ng-if="!auth.user">
  <h1>Welcome to Kitchen Support!</h1>
  <h4>Enjoy your stay!</h4>
</div>

<div ng-if="auth.user">
  <h1>Welcome to Kitchen Support, <span ng-bind="auth.user.email"></span>!</h1>
  <h4>Enjoy your stay!</h4>
</div>
