<h1>Log into your account.</h1>
<ng-messages class="message-error" for="loginForm.general">
  <ng-message when="incorrect">
    The password you entered is incorrect, or this account does not exist.
  </ng-message>
  <ng-message when="no-input">
    Oops, looks like you forgot to fill out <em>all</em> of the fields...
  </ng-message>
  <ng-message when="issue">
    Oops, we ran into an issue logging you in; please try again!
  </ng-message>
</ng-messages>
<form ng-submit="login()" name="loginForm">
  <md-content layout-padding layout="column">
    <md-input-container flex>
      <label>Email Address</label>
      <input ng-disabled="loginSubmitting" ng-model="account.email" type="email">
      <ng-messages class="message-error" for="loginForm.email">
        <ng-message when="required">
          An email address is required.
        </ng-message>
      </ng-messages>
    </md-input-container>
    <md-input-container flex>
      <label>Password</label>
      <input ng-disabled="loginSubmitting" ng-model="account.password" type="password">
      <ng-messages class="message-error" for="loginForm.password">
        <ng-message when="required">
          A password is required.
        </ng-message>
      </ng-messages>
    </md-input-container>
    <md-checkbox ng-model="account.remember">
      Remember my account
    </md-checkbox>
  </md-content>
  <md-button ng-disabled="loginSubmitting" class="md-raised md-primary" type="submit">Login</md-button>
</form>
<md-button ui-sref="register">Need an account?</md-button>
<md-button ui-sref="forgot-password">Forgot your password?</md-button>
