<h1>Your Recipes</h1>
<div layout="row">
    <div flex="67">
        <h2>Favorited</h2>
        <p>Todo</p>

        <h2>Liked</h2>
        <recipeLiked></recipeLiked>

        <h2>Made</h2>
        <p>Todo</p>

    </div>
    <div flex="33" class="md-whiteframe-1dp sidebar">
        <h3>Recent Activity</h3>
        <md-list>
            <md-list-item> Activity</md-list-item>
            <md-list-item> Activity</md-list-item>
            <md-list-item> Activity</md-list-item>
            <md-list-item> Activity</md-list-item>
        </md-list>
    </div>
</div>
