<h1>Recipes</h1>

<div ng-if="auth.loggedIn">
  <section class="recipes">
    <h3>Recommended For You</h3>
    <md-list layout="row" layout-margin layout-wrap>
       <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
         <div class="md-3-line md-whiteframe-z1">
           <p>test</p>
         </div>
       </md-list-item>
       <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
         <div class="md-3-line md-whiteframe-z1">
           <p>test</p>
         </div>
       </md-list-item>
       <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
         <div class="md-3-line md-whiteframe-z1">
           <p>test</p>
         </div>
       </md-list-item>
       <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
         <div class="md-3-line md-whiteframe-z1">
           <p>test</p>
         </div>
       </md-list-item>
       <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
         <div class="md-3-line md-whiteframe-z1">
           <p>test</p>
         </div>
       </md-list-item>
       <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
         <div class="md-3-line md-whiteframe-z1">
           <p>test</p>
         </div>
       </md-list-item>
       <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
         <div class="md-3-line md-whiteframe-z1">
           <p>test</p>
         </div>
       </md-list-item>
       <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
         <div class="md-3-line md-whiteframe-z1">
           <p>test</p>
         </div>
       </md-list-item>
     </md-list>
  </section>
</div>

<div>
    <section class="recipes">
      <h3>Popular Recipes</h3>
      <md-list layout="row" layout-margin layout-wrap>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100">
          <div class="md-3-line md-whiteframe-z1">
            <p>test</p>
          </div>
        </md-list-item>
       </md-list>
    </section>
</div>
