<h1>Recipes</h1>

<div ng-if="auth.loggedIn" class="animate-if">
  <section class="recipes">
    <h3>Recommended For You</h3>
     <md-list layout="row" layout-margin layout-wrap data-ng-init="getFeaturedRecipes()">
        <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100" ng-repeat="recipe in featuredRecipes">
          <div class="md-3-line md-whiteframe-z1">
            <p ng-bind="recipe.recipeName"></p>
            <div class="recipeImage" ng-style="{'background-image':'url({{recipe.smallImageUrls[0]}})'}"></div>
          </div>
        </md-list-item>
      </md-list>
  </section>
</div>

<div>
    <section class="recipes">
      <h3>Check Out These Burritos</h3>
      <md-list layout="row" layout-margin layout-wrap data-ng-init="getSearchRecipes('burrito')">
         <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100" ng-repeat="recipe in searchedRecipes['burrito']">
           <div class="md-3-line md-whiteframe-z1">
             <p ng-bind="recipe.recipeName"></p>
             <div class="recipeImage" ng-style="{'background-image':'url({{recipe.smallImageUrls[0]}})'}"></div>
           </div>
         </md-list-item>
       </md-list>
    </section>
</div>
