<md-list ng-show="searchedRecipes[searchTerm].status === 200" layout="row" layout-margin layout-wrap data-ng-init="getSearchRecipes(searchTerm)">
   <md-list-item flex-gt-md="25" flex-gt-sm="50" flex-sm="100" ng-repeat="recipe in searchedRecipes[searchTerm].data.recipes">
        <RecipePreview recipe-data="{{recipe}}"></RecipePreview>
   </md-list-item>
 </md-list>
 <div ng-show="searchedRecipes[searchTerm].status === -1" layout="row" layout-sm="column" layout-align="center center">
     <md-progress-circular md-mode="indeterminate"></md-progress-circular>
 </div>
 <div ng-show="searchedRecipes[searchTerm].status !== -1 && searchedRecipes[searchTerm].status !== 200 " layout="row" layout-sm="column" layout-align="center center">
     <p class="message-error">Error loading content.</p>
 </div>
